<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <a href="/">Home Page</a>
      <br />
      <a href="/celebs/create">Add a new celeb</a>
      <br />
      <a href="/celebs">See your celebs</a>
      <br />
      <a href="/movies/create">Add a new movie</a>
      <br />
      <a href="/movies">See your movies</a>
      <br />
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>